@using DataAccessLayer.Data
@using X.PagedList;

@using X.PagedList.Web.Common;
@using X.PagedList.Mvc.Core;

@model IPagedList<Advert>
@{
    ViewData["Title"] = "Home Page";
}






@await Html.PartialAsync("~/Views/Home/PartialFiltre.cshtml")  


<div class="latest-products">
    <div class="container">
        <div class="row">
            @*<div class="col-md-12">
                    <div class="section-heading">
                        <h2>Featured Cars</h2>
                        <a href="cars.html">view more <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>*@

            @foreach (var item in Model)
            {
                var c = 1;


                <div class="col-lg-4 col-md-6">
                    <div class="product-item">
                        @foreach (var rsm in ViewBag.imgs)
                        {

                            if (rsm.AdvertId == item.Id)
                            {
                                if (@c == 1)
                                {



                                    <a asp-controller="Car" asp-action="CarDetails" asp-route-id="@item.Id"><img src="~/img/@rsm.ImageName" alt="" width="300" height="300"></a>
                                    c++;
                                }
                            }
                        }
                        <div class="down-content">

                            <a href="car-details.html"><h4>@item.Model.Brand.Name  @item.Model.Name</h4></a>

                            <h6>@item.Price TL</h6>

                            <p>@item.ModelYear Model &nbsp;/&nbsp; @item.Kilometer Kilometre</p>

                            @*<small>
                                    <strong title="Author"><i class="fa fa-dashboard"></i> 130 000km</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                                    <strong title="Author"><i class="fa fa-cube"></i> 1800cc</strong>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <strong title="Views"><i class="fa fa-cog"></i> Manual</strong>
                                </small>*@
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>

@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions
{
    LiElementClasses = new List<String> { "page-link" }
})
<br />





<script src="~/car/vendor/jquery/jquery.min.js"></script>

<script>

    $(document).ready(function () {
        $("#BranddId").change(function () {
            var markaid = $(this).val();
            debugger
            $.ajax({
                Type: "Post",
                url: "/Home/ModelGet?BrandId=" + markaid,
                contentType: "html",
                success: function (response) {
                    debugger
                    $("#ModelId").empty();
                    $("#ModelId").append(response);
                }
            })
        })
    })
</script>
